//====================
// import
// ===================
@import ("smart-grid.styl");
@import ("settings.styl")
//====================
// code
// ===================
#wrapper
	max-width 1440px
	margin 0 auto
	position relative


.container
	max-width 1100px
	margin 0 auto

.upperText
	font(40px,Helvetica,700,$redText)
	font-style italic
	text-transform uppercase

.header
	display flex
	flex-direction row
	flex-wrap wrap
	align-items center
	// position: relative
	position: fixed
	xxs(flex-direction, column)
	xxs(justify-content, center)
	max-width 1100px
	min-height 120px
	width 100%
	z-index 999
	background-color: rgba(255, 255, 255, .5)
	.firstBlock
		display flex
		justify-content flex-end
		align-items center
		sm(display, none)
		img
			margin-left 35px
	.secondBlock
		margin-top 10px
		display flex
		justify-content flex-end
		font(29px,Helvetica,400,$redText)
		align-items center
		// sm(flex-flow, column wrap)
		sm(display, none)
		text-transform uppercase
		.phone
			font-weight bold
			margin-left 40px
			sm(margin, 10px 0)
	&-logo
		xs(text-align, center)
		margin-top 20px
		width 50%
		flex-grow 1
		col-lg-1()
		col-md-3()
		col-xs-6()
		col-xxs-12()
		md(margin-left, 35px)
		xxs(margin-left, 0)
	&-lowResMenu
		img
			xs(transform, scale(0.7))
		display none
		sm(display, flex)
		margin 25px 125px 0 0
		col-xs-5()
		col-xxs-12()
		xxs(margin, 0)
		xs(margin, 25px 40px 0 0)
		xs(justify-content, flex-end)
		cursor: pointer
		position relative
		.lowResMenu
			display none
			position absolute
			top: 65px
			left -15px
			xs(left, 45%)
			xxs(left, 43%)
			xxs(top, 14px)
			li
				max-width 150px
				width 100%
				background-color: #454547
				border-bottom 1px solid #000
				padding 10px 0px
				xxs(padding, 10px 0)
				a
					padding 10px 15px
					xxs(padding, 5px 10px)
				&:hover
					background-color: #454547 - 20%
			.hasLowResSubMenu
				position relative
				&:before
					content "\2039"
					position absolute
					color #fff
					left 5px
					top 8px
					font-size: 18px
					xxs(left, 1px)
				&:hover
				&:focus
				&:active
					.lowResSubMenu
						display block


			a
				font(13px,Helvetica,400,#fff)
			.lowResSubMenu
				display none
				position absolute
				left -127px
				xxs(left, -117px)
				top 0


	&-menu
		margin-top 20px
		width 50%
		col-md-7()
		flex-grow 1
		.button
			background-color: $darkRed
			font(15px,Helvetica,400,#fff)
			text-transform uppercase
			padding 10px 15px
			cursor: pointer
			transition .3s
			&:hover
				transition .3s
				background-color: $darkRed - 20%

.fotorama
	width 100%
	display flex


.fotorama__nav-wrap
	display none

.headerNavBar
	display flex
	justify-content space-between
	width 100%
	padding-top 15px
	text-align center
	sm(display, none)
	a
		font(16px,Helvetica,400,$black)
		text-transform uppercase
	.active
		md(margin-right, 10px)
		font-weight: bold
		color $redText
	.hasMenu
		position relative
		.showMenu
			display block !important
		.subMenu
			display none
			&:before
				content ""
				position absolute
				top -13px
				left 89px
				border-style: solid;
				border-width: 0 12.5px 15px 12.5px;
				border-color: transparent transparent #4e4d4e transparent;
			min-width 200px
			top 35px
			md(top, 55px)
			md(left, -15px)
			position absolute
			background-color: #4d4c4d
			li
				padding 10px 5px
				border-bottom 1px solid #3b3b3b
			a
				text-transform none
				padding 0 5px
				font(16px,Helvetica,400,#fff)
		&:after
			content ""
			position absolute
			top 5px
			right: -13px
			md(right, 10px)
			border-style: solid;
			border-width: 5px 5px 0 5px;
			border-color: #323232 transparent transparent transparent;

.about
	min-height 550px
	background-color: #FFF
	.container
		display flex
		align-items center
		min-height 550px
		md(flex-wrap, wrap)
	.aboutCraft
		flex-grow 1
		margin-top 30px
		max-width 50%
		min-height 455px
		md(max-width, 100%)
		md(display, flex)
		md(flex-flow, column wrap)
		md(justify-content, center)
		md(align-items, center)
		col-md-12()
		col-xxs-10()
		xxs(text-align, center)
		h1
			font(40px,Helvetica,400,$black)
			margin-bottom 20px
		p
			width 90%
			font(16px,Helvetica,400,$black)
			line-height 23px
			margin-bottom 10px
		.learnMore
			text-transform uppercase
			font(18px,Helvetica,400,$black)
			line-height 49px
			position relative
			margin-bottom 20px
			cursor: pointer
			&:after
				content "\2192"
				position absolute
				color $redText
				left 130px
		.add
			width 327px
			height 83px
			xs(margin-left, 50px)
			xxs(margin, 0)
			xxs(transform, scale(.7))
			text-align center
			background-image url('../_img/button.png')
			font(20px,Helvetica,400,#fff);
			text-transform uppercase
			display flex
			flex-flow column wrap
			align-items center
			justify-content center
			transform translateX(-35px)
			span
				width 80%
			.number
				font-size: 32px
				font-weight: bold
				font-style: italic

	.picture
		flex-grow 1
		min-height 455px
		margin-top 100px
		display flex
		justify-content center
		align-items center
		position relative
		text-align center
		col-xxs-11()
		.mainPic
			position relative
			max-width 100%
			z-index 10
		.back
			max-width 100%
			position absolute
			z-index 1
			right 0
			top 5px
			md(right, 15%)
			sm(right, 5%)
			xs(right, 0)
			xxs(top, 12%)
			xxs(max-height, 350px)

.services
	min-height 650px
	width 100%
	background-color: #efefef
	text-align center
	.ourServices
		display flex
		flex-flow column wrap
		col-xxs-12()
		xxs(margin, 0 auto)
	h1
		font(40px,Helvetica,400,$black)
		padding-top 44px
	p
		font(16px,Helvetica,400,$black)
		line-height 23px
		margin-top 20px
	.servicesWrapper
		display flex
		md(flex-wrap, wrap)
		justify-content center
		width 100%
		
	.serviceBox
		width 311px
		height 369px
		margin 35px 20px
		col-sm-6()
		col-xs-10()
		col-xxs-12()
		sm(margin, 35px 5px)
		transition .3s
		cursor pointer
		&:hover
			box-shadow 0 0 70px #000
			transition .3s
			transform scale(1.1)
			xxs(transform, scale(1.05))
		&:nth-child(3)
			col-md-6()
			col-xs-10()
			col-xxs-12()
		img
			height 100%
			width 100%
			max-height 284px
		.info
			text-transform uppercase
			font
			min-height 100px
			background-color: $darkRed
			font(25px,Helvetica,400,#fff)
			border-top 6px solid #af5e5e
			margin-top -5px
			display flex
			flex-flow column wrap
			justify-content center
		span
			display block
			font(25px,Helvetica,700,#fff)
			font-style: italic

.second
	background-color: #acacac !important
	border-top 6px solid #cbcbcb !important
	color $black !important
	span
		color $black !important

.third
	background-color: #757575 !important
	border-top 6px solid #a8a8a8 !important
	position relative
	top -85px

.fix
	max-height 370px !important

.elite
	min-height 205px
	background-color: #000000
	.container
		display flex
		xs(flex-wrap, wrap)
		justify-content space-around
		align-items center
		min-height 205px
		.eliteText
			display flex
			flex-flow column wrap
			text-transform uppercase
			xs(text-align,center)
			xs(margin-left, 0)
			xs(align-items, center)
			lg(margin-left, 25px)
			col-xs-12()
			&-h1
				sm(margin-top, 25px)
				font(33px,Helvetica,bold,#fff)
				line-height 41px
				sm(font-size, 24px)
				xxs(font-size, 18px)
			&-logo
				text-align center
				col-5()
				col-sm-6()
				col-xs-12()
				xs(margin, 25px 0)
			.myButton
				max-width 209px
				cursor: pointer
				text-transform uppercase
				padding 15px 40px
				background-color: $darkRed
				border none
				font(20px,Helvetica,400,#fff)
				xxs(font-size, 14px)
				margin-top 15px
				transition .3s
				sm(margin-bottom, 25px)
				&:hover
					transition .3s
					background-color: $darkRed - 20%

.form
	min-height 500px
	background-color: #FFF
	display flex
	xs(flex-flow, column wrap)
	.rightBlock
		display: flex
		justify-content center
		align-items center
		flex-grow 1
		position relative
		width 100%
		col-xs-12()
		xs(align-items, center)
		xs(margin, 0 auto)
		#form
			z-index: 10
			.upperText
				margin-top 30px
				sm(margin-top, 60px)
				text-align center
				sm(font-size, 30px)
			position absolute
			top -50px
			xs(top, auto)
			box-shadow: 0 0 30px 2px rgba(137, 137, 137, 0.48)
			max-width 650px
			min-height 600px
			width 100%
			background-color: #FFF
			display flex
			flex-flow column wrap
			font(17px,Helvetica,400,$black)
			align-items center
			.close
				position absolute
				right 20px
				top 20px
				font-size: 24px
				cursor: pointer
				height 40px
				width 40px
				background-color: $darkRed
				text-align center
				line-height 40px
				border-radius 50%
				color #fff
				border 1px solid #000
				font-family Helvetica
				transition .3s
				&:hover
					background-color: $darkRed +10%
			.access
				display flex
				flex-direction row-reverse
				sm(flex-direction, column-reverse)
				align-items center
				justify-content space-between
				max-width: 530px
				lg(max-width, 450px)
				md(max-width, 300px)
				sm(max-width, 200px)
				xs(max-width, 300px)
				xxs(max-width, 220px)
				width 100%
				margin-top 30px
			input
				max-height 50px
				max-width 530px
				lg(max-width, 450px)
				md(max-width, 300px)
				sm(max-width, 200px)
				xs(max-width, 300px)
				xxs(max-width, 220px)
				width 100%
				font-size: 22px
				min-height 50px
			label
				max-width 530px
				lg(max-width, 450px)
				md(max-width, 300px)
				sm(max-width, 200px)
				xs(max-width, 300px)
				xxs(max-width, 220px)
				width 100%
				margin 25px 0 5px 0
			textarea
				min-height 130px
				font-size 22px
				max-width 530px
				lg(max-width, 450px)
				md(max-width, 300px)
				sm(max-width, 200px)
				xs(max-width, 300px)
				xxs(max-width, 220px)
				width 100%
			input[type='submit']
				max-width 209px
				padding 20px 0
				margin 25px 0
				width 100%
				text-transform uppercase
				font(21px,Helvetica,700,#fff)
				line-height 10px
				background-color: $darkRed
				border none
				cursor: pointer
				transition .3s
				&:hover
					background-color: $darkRed - 20%
		.formButton
			background-color: $darkRed
			font(20px,Helvetica,400,#fff)
			text-transform uppercase
			border none
			padding 15px 30px
			cursor pointer
			xs(margin, 25px 0)
			transition .3s
			&:hover
				transition .3s
				background-color: $darkRed - 20%
	.leftBlock
		display flex
		flex-flow column wrap
		justify-content center
		align-items flex-end
		xs(align-items, center)
		xs(margin, 0 auto)
		text-align right
		max-width 500px
		md(margin-right, 30px)
		width 100%
		sm(max-width, 330px)
		min-height 500px
		font-family Helvetica
		text-transform uppercase
		flex-grow 1
		col-xs-12()
		xs(max-width, 100%)
		xs(text-align, center)
		h1
			font-size: 43px
			font-weight 400
			color $black
			xs(font-size, 35px)
		h2
			font-size: 38px
			font-weight bold
			color $redText
			margin-bottom: 30px
			font-style: italic
			xs(margin-top, 10px)
			xs(font-size, 30px)
		.border
			width 257px
			height 1px
			background-color: #aeaeae
		.call
			margin-top 30px
			font-size: 38px
			width 60%
			col-sm-10()
			color $black
			xs(font-size, 35px)
		.number
			margin-top 5px
			font-style: italic
			font-size: 48px
			xs(margin-top, 10px)
			xs(font-size, 35px)
			font-weight: bold
			color $redText

.hidden
	display none !important

.maps
	// display none
	iframe
		width: 100%;
		display: block;
		pointer-events: none;
		position: relative;
.clicked
	pointer-events: auto !important

#first
	min-height 440px
	background-color: #323232
	.footer
		display flex
		flex-wrap nowrap
		min-height 440px
		padding-top 50px
		md(flex-wrap, wrap)
		justify-content-md(center)
		h2
			text-transform uppercase
			margin-bottom 10px
		.firstFooter
			width 25%
			xs(display, flex)
			xs(flex-flow, column wrap)
			xs(align-items, center)
			md(margin, 10px)
			xs(margin, 30px)
			col-md-6()
			col-xs-12()
			font(16px,Helvetica,400,#fff)
			line-height 32px
			p
				xs(text-align, center)
			.myButton
				margin 10px 0
				padding 5px 20px
				max-width 230px
				cursor pointer
				text-align center
				text-transform uppercase
				font-weight bold
				line-height 34px
				background-color: $redText
				transition .3s
				&:hover
					transition .3s
					background-color: $redText - 20%
			h2
				font-weight 700
				font-size 22px
				margin-bottom 10px
			i
				padding-right: 10px
		.secondFooter
			col-md-6()
			col-xs-12()
			xs(display, flex)
			xs(flex-flow, column wrap)
			xs(align-items, center)
			md(margin, 10px)
			xs(margin, 30px)
			font(16px,Helvetica,400,#fff)
			width 25%
			line-height 32px
			h2
				font-weight: 700
				font-size 22px
		.thirdFooter
			xs(display, flex)
			xs(flex-flow, column wrap)
			xs(align-items, center)
			md(margin, 10px)
			xs(margin, 30px)
			col-md-6()
			col-xs-12()
			width 25%
			font(16px,Helvetica,400,#fff)
			line-height 32px
			h2
				font-weight bold
				font-size 22px
			h3
				font-weight bold
				font-size 22px
				text-transform uppercase
			li
				position relative
				margin-left 20px
				&:before
					content "\2192"
					position absolute
					left -22px
			li:nth-child(3)
				margin-bottom 20px
			form
				display flex
				flex-flow column wrap
				max-width 229px
				input[type="Email"]
					padding-left 20px
					min-height 40px
					margin 5px 0 10px 0
				input[type="Submit"]
					min-height 40px
					margin 10px 0
					background-color: $darkRed
					border none
					text-transform uppercase
					letter-spacing 0.05rem
					font(17px,Helvetica,700,#fff)
					cursor: pointer
					transition .3s
					&:hover
						background-color: $darkRed - 20%
						transition .3s
				img
					max-height 59px
					width 100%
		.fourthFooter
			xs(display, flex)
			xs(flex-flow, column wrap)
			xs(align-items, center)
			md(margin, 10px)
			xs(margin, 30px)
			col-md-6()
			col-xs-12()
			font(16px,Helvetica,700,#fff)
			.visit
				display flex
				align-items center
				md(flex-flow, column wrap)
				justify-content center
				position relative
				margin-bottom: 25px
				xs(text-align, center)
				h2
					width 100%


#second
	min-height 65px
	background-color: #282828
	display flex
	align-items center
	font(14px,Helvetica,400,#fff)
	xs(text-align, center)
	.container
		width 100%



