//====================
// import
// ===================
@import ("smart-grid.styl");
@import ("settings.styl")
//====================
// code
// ===================
#wrapper
	max-width 1440px
	margin 0 auto
	position relative

.container
	max-width 1100px
	margin 0 auto

.header
	display flex
	flex-direction row
	flex-wrap wrap
	align-items center
	position: fixed
	max-width 1100px
	min-height 120px
	width 100%
	background-color: rgba(255, 255, 255, .4)
	.firstBlock
		display flex
		justify-content flex-end
	.secondBlock
		margin-top 10px
		display flex
		justify-content flex-end
		font(29px,Helvetica,400,$redText)
		text-transform uppercase
		.phone
			font-weight bold
			margin-left 40px
	&-logo
		margin-top 20px
		width 50%
		flex-grow 1
	&-menu
		margin-top 20px
		width 50%
		flex-grow 1
		.socials
			display flex
			font-size: 30px
			margin-left 30px
			a
				margin 0 22px
				color: #c00c0c
				&:last-child
					margin-right: 0
		.button
			background-color: $darkRed
			font(15px,Helvetica,400,#fff)
			text-transform uppercase
			padding 10px 15px
			cursor: pointer

.headerNavBar
	display flex
	justify-content space-between
	width 100%
	padding-top 15px
	a
		font(16px,Helvetica,400,$black)
		text-transform uppercase
	.active
		font-weight: bold
		color $redText
	.hasMenu
		position relative
		&:after
			content ""
			position absolute
			top 5px
			right: -13px
			border-style: solid;
			border-width: 5px 5px 0 5px;
			border-color: #323232 transparent transparent transparent;