//====================
// import
// ===================
@import ("smart-grid.styl");
@import ("settings.styl")
//====================
// code
// ===================
#wrapper
	max-width 1440px
	margin 0 auto
	position relative

.background
	background-image: url('../_img/bgi.png')
	height 100%
	height: 744px
	&-gradient
		background-image url('../_img/top-gradient.png')
		height 479px

.container
	max-width 1100px
	margin 0 auto

.upperText
	font(40px,Helvetica,700,$redText)
	font-style italic
	text-transform uppercase

.header
	display flex
	flex-direction row
	flex-wrap wrap
	align-items center
	position: fixed
	max-width 1100px
	min-height 120px
	width 100%
	background-color: #FFF
	z-index 999
	.firstBlock
		display flex
		justify-content flex-end
	.secondBlock
		margin-top 10px
		display flex
		justify-content flex-end
		font(29px,Helvetica,400,$redText)
		text-transform uppercase
		.phone
			font-weight bold
			margin-left 40px
	&-logo
		margin-top 20px
		width 50%
		flex-grow 1
	&-menu
		margin-top 20px
		width 50%
		flex-grow 1
		.socials
			display flex
			font-size: 30px
			margin-left 30px
			a
				margin 0 22px
				color: #c00c0c
				&:last-child
					margin-right: 0
		.button
			background-color: $darkRed
			font(15px,Helvetica,400,#fff)
			text-transform uppercase
			padding 10px 15px
			cursor: pointer

.headerNavBar
	display flex
	justify-content space-between
	width 100%
	padding-top 15px
	a
		font(16px,Helvetica,400,$black)
		text-transform uppercase
	.active
		font-weight: bold
		color $redText
	.hasMenu
		position relative
		&:after
			content ""
			position absolute
			top 5px
			right: -13px
			border-style: solid;
			border-width: 5px 5px 0 5px;
			border-color: #323232 transparent transparent transparent;

.about
	min-height 550px
	background-color: #FFF
	.container
		display flex
		align-items center
		min-height 550px
	.aboutCraft
		flex-grow 1
		margin-top 30px
		max-width 550px
		min-height 455px
		h1
			font(40px,Helvetica,400,$black)
			margin-bottom 20px
		p
			width 90%
			font(16px,Helvetica,400,$black)
			line-height 23px
			margin-bottom 10px
		.learnMore
			text-transform uppercase
			font(18px,Helvetica,400,$black)
			line-height 49px
			position relative
			margin-bottom 20px
			cursor: pointer
			&:after
				content "\2192"
				position absolute
				color $redText
				left 130px
		.add
			width 327px
			height 83px
			background-image url('../_img/button.png')
			font(20px,Helvetica,400,#fff);
			text-transform uppercase
			display flex
			flex-flow column wrap
			align-items center
			justify-content center
			transform translateX(-35px)
			cursor: pointer
			span
				width 80%
			.number
				font-size: 32px
				font-weight: bold
				font-style: italic

	.picture
		max-width 550px
		flex-grow 1
		min-height 455px
		margin-top 100px
		position relative
		.mainPic
			position relative
			z-index 10
		.back
			position absolute
			z-index 1
			right 0
			top -35px

.services
	min-height 650px
	width 100%
	background-color: #efefef
	text-align center
	h1
		font(40px,Helvetica,400,$black)
		padding-top 44px
	p
		font(16px,Helvetica,400,$black)
		line-height 23px
		margin-top 20px
	.servicesWrapper
		display flex
		flex-wrap wrap
	.serviceBox
		width 311px
		height 369px
		margin 35px 20px
		img
			height 100%
			width 100%
			max-height 284px
		.info
			text-transform uppercase
			font
			min-height 100px
			background-color: $darkRed
			font(25px,Helvetica,400,#fff)
			border-top 6px solid #af5e5e
			margin-top -5px
			display flex
			flex-flow column wrap
			justify-content center
		span
			display block
			font(25px,Helvetica,700,#fff)
			font-style: italic

.second
	background-color: #acacac !important
	border-top 6px solid #cbcbcb !important
	color $black !important
	span
		color $black !important

.third
	background-color: #757575 !important
	border-top 6px solid #a8a8a8 !important
	position relative
	top -85px

.fix
	max-height 370px !important

.elite
	min-height 205px
	background-color: #000000
	.container
		display flex
		justify-content space-around
		align-items center
		min-height 205px
		.eliteText
			text-transform uppercase
			&-h1
				font(33px,Helvetica,bold,#fff)
				line-height 41px
			&-logo
				col-5()
			.myButton
				text-transform uppercase
				padding 15px 40px
				background-color: $darkRed
				border none
				font(20px,Helvetica,400,#fff)
				margin-top 15px

.form
	min-height 500px
	background-color: #FFF
	display flex
	.rightBlock
		display: flex
		justify-content center
		align-items center
		flex-grow 1
		position relative
		#form
			z-index: 10
			.upperText
				margin-top 40px
				text-align center
			position absolute
			top -50px
			box-shadow: 0 0 30px 2px rgba(137, 137, 137, 0.48)
			height 578px
			width 646px
			background-color: #FFF
			display flex
			flex-flow column wrap
			font(17px,Helvetica,400,$black)
			align-items center
			.access
				display flex
				flex-direction row-reverse
				align-items center
				justify-content space-between
				width: 530px
				margin-top 30px
			input
				height 50px
				width 530px
				font-size: 30px
			label
				width 530px
				margin 25px 0 5px 0
			textarea
				height: 143px
				width 530px
			input[type='submit']
				width 209px
				text-transform uppercase
				font(21px,Helvetica,700,#fff)
				background-color: $darkRed
				border none
		.formButton
			background-color: $darkRed
			font(20px,Helvetica,400,#fff)
			text-transform uppercase
			border none
			padding 15px 30px
	.leftBlock
		display flex
		flex-flow column wrap
		justify-content center
		align-items flex-end
		text-align right
		max-width 500px
		min-height 500px
		font-family Helvetica
		text-transform uppercase
		flex-grow 1
		h1
			font-size: 43px
			font-weight 400
			color $black
		h2
			font-size: 38px
			font-weight bold
			color $redText
			margin-bottom: 30px
			font-style: italic
		.border
			width 257px
			height 1px
			background-color: #aeaeae
		.call
			margin-top 30px
			font-size: 38px
			width 60%
			color $black
		.number
			margin-top 5px
			font-style: italic
			font-size: 48px
			font-weight: bold
			color $redText

.maps
	iframe
		width: 100%;
		display: block;
		pointer-events: none;
		position: relative;
.clicked
	pointer-events: auto !important

footer
	min-height 440px
	background-color: #323232
	.footer
		display flex
		flex-wrap nowrap
		min-height 440px
		padding-top 50px
		h2
			text-transform uppercase
			margin-bottom 10px
		.firstFooter
			width 25%
			font(16px,Helvetica,400,#fff)
			line-height 32px
			.myButton
				margin 10px 0
				max-width 230px
				cursor pointer
				text-align center
				text-transform uppercase
				font-weight bold
				line-height 34px
				background-color: $redText
			h2
				font-weight 700
				font-size 22px
				margin-bottom 10px
			i
				padding-right: 10px
		.secondFooter
			font(16px,Helvetica,400,#fff)
			width 25%
			line-height 32px
			h2
				font-weight: 700
				font-size 22px
		.thirdFooter
			width 25%
			font(16px,Helvetica,400,#fff)
			line-height 32px
			h2
				font-weight bold
				font-size 22px
			h3
				font-weight bold
				font-size 22px
				text-transform uppercase
			li
				position relative
				margin-left 20px
				&:before
					content "\2192"
					position absolute
					left -22px
			li:nth-child(3)
				margin-bottom 20px
			form
				display flex
				flex-flow column wrap
				max-width 229px
				input[type="Email"]
					padding-left 20px
					min-height 40px
					margin 5px 0 10px 0
				input[type="Submit"]
					min-height 40px
					margin 10px 0
					background-color: $darkRed
					border none
					text-transform uppercase
					letter-spacing 0.05rem
					font(17px,Helvetica,700,#fff)
				img
					max-height 59px
					width 100%
		.fourthFooter
			font(16px,Helvetica,700,#fff)
			h2
				margin-bottom: 10px
				position relative
				&:after
					position absolute
					content ""
					height 30px
					width 30px
					right: -20px
					background-image url('../_img/pinterest.png')
					background-repeat no-repeat